.city-selector {
    &__btn {
        float: left;
    }

    &__regions {
        float: left;
    }

    &__localities {
        float: left;
    }

    ul {
        list-style-type: none;
        margin: 0 20px;
        padding: 0;
    }

    li {
        cursor: pointer;
        padding: 5px;
        margin: 0;
    }

    ._active {
        background: #CCC;
    }
}
